__pycache__
*.pyc
*.pyo
*.pyd

.env
.venv
venv/

.git
.gitignore

.DS_Store

.ipynb_checkpoints
db_testing.ipynb
sql_testing.ipynb

# Exclude large files or folders not needed at runtime
*.log
*.gz
*.zip